$active: #dc3545;

#faq-index {
  margin-bottom: 9.375em;

  .faq-body {
    font-size: 1em;
    padding: 16px;
  }

  .heading {
    padding: 16px;

    &:hover {
      cursor: pointer;
    }

    .icon {
      color: $active;
    }
  }

  .list-style-lower-alpha {
    list-style-type: lower-alpha;
  }

  [aria-expanded=true] {
    .fa-angle-down {
      display: none;
    }

    .question {
      color: $active;
    }
  }

  [aria-expanded=false] .fa-angle-up{
    display: none;
  }
}
