#faq-index {
  margin-bottom: 9.375em;

  .faq-body {
    font-size: 1em;
    padding: 16px;
  }

  .heading {
    padding: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  .list-style-lower-alpha {
    list-style-type: lower-alpha;
  }
}
