.footer-wrapper {
  margin-top: 46px;
  margin-bottom: 30px;

  .reach-us {
    font-size: 12px;
    line-height: 19px;
  }

  .email {
    font-size: 14px;
    color: #c71120;
    line-height: 19px;
  }

  .copyright {
    font-size: 14px;
    line-height: 30px;
  }
}
