.footer-wrapper {
  margin-top: 36px;
  margin-bottom: 30px;

  .reach-us {
    font-size: 12px;
    line-height: 19px;
  }

  .email {
    font-size: 14px;
    color: #c71120;
    line-height: 19px;
    font-family: var(--bs-body-font-family);
  }

  .copyright {
    font-size: 14px;
    line-height: 30px;
  }
}
