@media (max-width: 360px) {
  .care {
    height: 22px;
  }

  .api {
    height: 27px;
    margin: 0 8px;
  }

  .instedd {
    height: 21px;
  }

  .img-funded {
    height: 38px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .care {
    height: 22px;
  }

  .api {
    height: 27px;
    margin: 0 8px;
  }

  .instedd {
    height: 21px;
  }

  .img-funded {
    height: 38px;
  }

  .img-implemented-wrapper {
    height: 100px;
    & > a:not(:last-child) {
      margin-right: 15px;
    }
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {

// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .care {
    height: 40px;
  }

  .api {
    height: 50px;
    margin: 0 8px;
  }

  .instedd {
    height: 40px;
  }

  .img-funded {
    height: 50px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .care {
    height: 46px;
  }

  .api {
    height: 60px;
    margin: 0 8px;
  }

  .instedd {
    height: 46px;
  }

  .img-funded {
    height: 57px;
  }
}
