APP_NAME=Community Scorecard
MOBILE_APP_VERSION=development
GA_TRACKING_ID=

# Recaptcha
# https://www.google.com/recaptcha/admin/create
RECAPTCHA_SITE_KEY=site_key
RECAPTCHA_SECRET_KEY=site_secret

# Email to receive feedbacks
SUPPORT_EMAIL=support@digital-csc.org
