APP_NAME=Community Scorecard
MOBILE_APP_VERSION=development
GA_TRACKING_ID=

# Recaptcha
# https://www.google.com/recaptcha/admin/create
RECAPTCHA_SITE_KEY=site_key
RECAPTCHA_SECRET_KEY=site_secret

# Email to receive feedbacks
SUPPORT_EMAIL=support@digital-csc.org

# Public Dashboard
DASHBOARD_URL=https://datastudio.google.com/embed/reporting/316c83c7-635e-4bd4-9fa7-d1e72ffd262b/page/p_2f0jzrbctc
