.accordion-item.mb-2.shadow.border
  = render 'home/faq/question', target: 'One', question: t('question.can_my_project_use_digital_scorecard')

  #collapseOne.accordion-collapse.collapse{"aria-labelledby" => "headingOne", "data-bs-parent" => "#faq"}
    .faq-body.accordion-body
      = t('answer.q1.yes_digital_scorecard_is_free')
