.accordion-item.border.mb-2.shadow
  = render 'home/faq/question', target: 'Three', question: t('question.why_should_i_not_reinvent_the_wheel')

  #collapseThree.accordion-collapse.collapse{"aria-labelledby" => "headingThree", "data-bs-parent" => "#faq"}
    .faq-body
      %ol
        %li= t('answer.q3.save_resource').html_safe
        %li= t('answer.q3.has_an_existing_community').html_safe
        %li= t('answer.q3.if_feel_not_match_purpose_let_consult').html_safe
