.border.mb-2.shadow
  = render 'home/faq/question', target: 'One', question: t('question.can_my_project_use_digital_scorecard')

  #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#faq"}
    .faq-body
      = t('answer.q1.yes_digital_scorecard_is_free')
