.heading{"aria-controls" => "collapse#{target}", "aria-expanded" => "false", "data-target" => "#collapse#{target}", "data-toggle" => "collapse", id: "heading#{target}" }
  .d-flex
    .flex-grow-1.question= question

    .icon.ml-3
      %i.fa.fa-angle-down
      %i.fa.fa-angle-up
