.accordion-item.border.mb-2.shadow
  = render 'home/faq/question', target: 'Five', question: t('question.is_there_central_digital_scorecard')

  #collapseFive.accordion-collapse.collapse{"aria-labelledby" => "headingFive", "data-bs-parent" => "#faq"}
    .faq-body
      = t('answer.q5.yes_there_is_central_digital_scorecard').html_safe
      .my-4
        = image_tag 'how-score-card-works.png', alt: 'How scorecard works', class: 'img-fluid'
