- if flash[:alert].present?
  .alert.alert-danger.alert-dismissible.fade.show{:role => "alert"}
    = flash[:alert]
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}

- if flash[:notice].present?
  .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
    = flash[:notice]
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
