.container
  .row
    .col-12
      %h1.display-4.font-weight-bold.my-4
        Cambodia Blended Digital Scorecard
      %h3.mb-4 FAQ

      %p.lead
        Blended digital scorecard is a free open source application created under project Supporting meaningful civic engagement for improved accountability by leveraging digital technologies,  implemented by CARE, API & InSTEDD funded by the European Union (EU).

      #faq.accordion
        %h4.heading#headingOne.font-weight-bold{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse" }
          .d-flex
            .mr-4
              %i.fa.fa-plus.fa-primary
              %i.fa.fa-minus.fa-primary
            %p Can my project/organization use the blended digital scorecard? 
        #collapseOne.collapse.show{"aria-labelledby" => "headingOne", "data-parent" => "#faq"}
          .faq-body
            Yes, of course. Blended digital scorecard is a free and open source tool.

        %h4.heading#headingTwo.font-weight-bold{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo", "data-toggle" => "collapse" }
          .d-flex
            .mr-4
              %i.fa.fa-plus.fa-primary
              %i.fa.fa-minus.fa-primary
            %p Why should I use the free and open source Blended Digital Scorecard?
        #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#faq"}
          .faq-body
            Blended Digital Scorecard was designed with a rigorous human-center-designed and field validation. 
            %ul
              %li It provides flexibility for project implementers to create their own form indicators 
              %li It support Khmer language, including option to upload audio for indicators
              %li It come with the dashboard where the program can view their scorecard implementation progress in real time

            = link_to "See here videos", "https://www.youtube.com/playlist?list=PLOpKUpKkRrQuWggZRMSIjgAjixiZhXT-j", target: '_blank'
            %span about Blended Digital Scorecard.

        %h4.heading#headingThree.font-weight-bold{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-target" => "#collapseThree", "data-toggle" => "collapse" }
          .d-flex
            .mr-4
              %i.fa.fa-plus.fa-primary
              %i.fa.fa-minus.fa-primary
            %p Why should I not create another new application for the same purpose?
        #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#faq"}
          .faq-body
            %ol
              %li Save resource, not reinvent the wheel
              %li The existing free and open source software has an existing community that you can learn from their experience of implementation and practice. 
              %li If you feel that the Blended Digital Scorecard does not fit your needs, we strongly recommend you to consult with our project team to get clarification and information you need before making your final decision in creating a new application.

        %h4.heading#headingFour.font-weight-bold{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-target" => "#collapseFour", "data-toggle" => "collapse" }
          .d-flex
            .mr-4
              %i.fa.fa-plus.fa-primary
              %i.fa.fa-minus.fa-primary
            %p How can I set up the Blended Digital Scorecard tool for my project?
        #collapseFour.collapse{"aria-labelledby" => "headingFour", "data-parent" => "#faq"}
          .faq-body
            The package of Blended digital scored has 2 components:
            %ol
              %li
                Mobile application for Android phone. 
                = link_to "Link to PlayStore to download", "https://play.google.com/store/apps/details?id=org.instedd.ilabsea.community_scorecard&hl=km&gl=US", target: "_blank"
                the application. 
              %li
                Install the Web and dashboard application on your own server (we recommend using cloud server) 
                %ol.list-style-lower-alpha
                  %li= link_to "Link to source code repository and installation guide", "https://github.com/ilabsea/scorecard-web", target: "_blank"
              %li Configure on the mobile application to point to your web application endpoint

        %h4.heading#headingFive.font-weight-bold{"aria-controls" => "collapseFive", "aria-expanded" => "false", "data-target" => "#collapseFive", "data-toggle" => "collapse" }
          .d-flex
            .mr-4
              %i.fa.fa-plus.fa-primary
              %i.fa.fa-minus.fa-primary
            %p Is there a central Blended Digital Scorecard dashboard that provides a big picture from other implementers that use the same tool?
        #collapseFive.collapse{"aria-labelledby" => "headingFive", "data-parent" => "#faq"}
          .faq-body
            Yes, you and other implementers that use Blended Digital Scorecard can decide to share your aggregated data from your own server to the central dashboard server. By sharing the aggregated digital scorecard data from your own project, you support the open data and allow the public to view the progress of the scorecard implementation in Cambodia.
            .my-4
              = image_tag 'how-score-card-works.png', alt: 'How score card works', class: 'img-fluid'

        %h4.heading#headingSix.font-weight-bold{"aria-controls" => "collapseSix", "aria-expanded" => "false", "data-target" => "#collapseSix", "data-toggle" => "collapse" }
          .d-flex
            .mr-4
              %i.fa.fa-plus.fa-primary
              %i.fa.fa-minus.fa-primary
            %p Where can I learn or get the support to roll out the Blended Digital Scorecard for my project?
        #collapseSix.collapse{"aria-labelledby" => "headingSix", "data-parent" => "#faq"}
          .faq-body
            %ul
              %li To learn more from implementation roll out, please contact CARE and API
              %li For technical aspect, please contact InSTEDD

        %h4.heading#headingSeven.font-weight-bold{"aria-controls" => "collapseSeven", "aria-expanded" => "false", "data-target" => "#collapseSeven", "data-toggle" => "collapse" }
          .d-flex
            .mr-4
              %i.fa.fa-plus.fa-primary
              %i.fa.fa-minus.fa-primary
            %p What about data ownership and data security?
        #collapseSeven.collapse{"aria-labelledby" => "headingSeven", "data-parent" => "#faq"}
          .faq-body
            The data will be owned and fully managed by your organization at your server.
