@import 'home/stakeholder';
@import 'home/faq';
@import 'home/switch_language';
@import 'home/layout';
@import 'home/social_share';

.top-bar {
  background-color: #3261a4;
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.version {
  font-size: 0.9em;
}
