$font-size: 1em;
$height: 80px;
.stackholders {
  .text-funded,
  .text-implemented {
    font-size: $font-size;
  }

  .img-funded {
    height: $height;
  }

  .img-implemented {
    height: $height / 2;
  }

  .img-implemented-wrapper {
    height: $height;
    & > a:not(:last-child) {
      margin-right: 15px;
    }
  }
}

$font-size-lg: 1.2em;
$height-lg: 65px;
.stackholders-lg {
  .text-funded,
  .text-implemented {
    font-size: $font-size-lg;
  }

  .img-funded {
    height: $height-lg *2;
  }

  .img-implemented {
    height: $height-lg;
  }

  .img-implemented-wrapper {
    height: $height-lg *2;
    & > a:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 992px) {
  .stackholders,
  .stackholders-lg {
    display: block !important;
  }

  .implemented-by {
    margin-top: 30px;
  }
}
